<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProfileOrder.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>857547CE2729AE3B00B1BA7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>857547E42729AE3D00B1BA7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>857547EE2729AE3D00B1BA7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
